* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  transition: background-color 0.5s ease, color 0.5s ease;
  overflow-x: clip;
}


.dark-mode {
  background-color: rgb(19, 19, 19);
  color: #20C20E;
  border-color: #20C20E;
 
  
}

.dark-mode .logo {
  border-color: #20C20E;
}

.container-header img {
  width: 25px;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.container-header {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-bottom: solid 1px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin-bottom: 4rem;
  
}

.logo {
  border-bottom: solid 1px black;
}

#typing-text {
  max-width: 299px;
  max-height: 90px;
  margin-left: auto;
  margin-right: auto;
  
}

.styled-word {
  color: red;
}

.text-2 {
  width: 299px;
  margin-left: auto;
  margin-right: auto;

}

#text {
  display: inline;
}

#cursor {
  display: inline;
  border-right: 0.15em solid; /* Cursor effect */
  animation: blink-caret 0.7s step-end infinite; /* Cursor blinking effect */
}


.cursor-light {
  border-color: black;
}

.cursor-dark {
  border-color: #20C20E;
}

.empty-space {
  height: 200dvh;
  width: 100%;
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: currentColor;
  }
}

@keyframes glow{
  from{text-shadow:0px 0px 5px #FFD833,0px 0px 5px #ba9800;}
  to{text-shadow:0px 0px 20px #FFD833,0px 0px 20px #b99700;}
}

@keyframes radius {
  from, to{
    border-radius: 0%;
  }
  50%{
    border-radius: 100%;
  }

}

/* Image container styles */
.image-container {
  max-width: 300px; /* Set the desired width */
  height: auto;
  overflow: hidden;
  margin: 2rem 0;
  margin-left: auto;
  margin-right: auto;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
  filter: blur(10px); /* Initial blur */
  margin-top: 50px;
  padding-bottom: 50px;
}



#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: invert(100%);
  transition: filter 0.5s ease; /* Add transition for smooth effect */
  overflow: clip;
}

.dark-mode #myVideo {
  filter: invert(0%);
  
}

.circle {
  width: 300px;
  height: 300px;
  margin: 5rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  animation: radius 3s ease infinite ;
  cursor: pointer;
  transition:  0.3s ease;
  background-color: #000000;
}


.dark-mode #circleGrow {
  background-color: #20C20E;
color: #000000;
}

.dark-mode #circle {
  background-color: #20C20E;
}

.dark-mode #circles {
  border-color: #20C20E;
}

.circle-dark {
  background-color: #000000;

}
.circles-dark {
  border-color: #000000;

}


.circles-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.circles {
  width: 8px;
  height:8px;
  animation: radius 1s ease infinite ;
  background: none;
  border: solid .15rem black;

}

.container-two {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  width: 70dvw;
  margin-left: auto;
  margin-right: auto;
  gap: 3rem;
}

.container-two p {
  /* margin-left: auto;
  margin-right: auto; */
}

.glitch-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.glitch {
  position: relative;
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 5px;
  z-index: 1;
}

.glitch:before {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: -2px;
  width: 100%;
  color: #fff;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-before 3s infinite linear alternate-reverse;
}

.glitch:after {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 2px;
  width: 100%;
  color: #fff;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-after 2s infinite linear alternate-reverse;
}

@keyframes noise-before {
  0% {
     clip: rect(61px, 9999px, 52px, 0);
  }

  5% {
     clip: rect(33px, 9999px, 144px, 0);
  }

  10% {
     clip: rect(121px, 9999px, 115px, 0);
  }

  15% {
     clip: rect(144px, 9999px, 162px, 0);
  }

  20% {
     clip: rect(62px, 9999px, 180px, 0);
  }

  25% {
     clip: rect(34px, 9999px, 42px, 0);
  }

  30% {
     clip: rect(147px, 9999px, 179px, 0);
  }

  35% {
     clip: rect(99px, 9999px, 63px, 0);
  }

  40% {
     clip: rect(188px, 9999px, 122px, 0);
  }

  45% {
     clip: rect(154px, 9999px, 14px, 0);
  }

  50% {
     clip: rect(63px, 9999px, 37px, 0);
  }

  55% {
     clip: rect(161px, 9999px, 147px, 0);
  }

  60% {
     clip: rect(109px, 9999px, 175px, 0);
  }

  65% {
     clip: rect(157px, 9999px, 88px, 0);
  }

  70% {
     clip: rect(173px, 9999px, 131px, 0);
  }

  75% {
     clip: rect(62px, 9999px, 70px, 0);
  }

  80% {
     clip: rect(24px, 9999px, 153px, 0);
  }

  85% {
     clip: rect(138px, 9999px, 40px, 0);
  }

  90% {
     clip: rect(79px, 9999px, 136px, 0);
  }

  95% {
     clip: rect(25px, 9999px, 34px, 0);
  }

  100% {
     clip: rect(173px, 9999px, 166px, 0);
  }
}

@keyframes noise-after {
  0% {
     clip: rect(26px, 9999px, 33px, 0);
  }

  5% {
     clip: rect(140px, 9999px, 198px, 0);
  }

  10% {
     clip: rect(184px, 9999px, 89px, 0);
  }

  15% {
     clip: rect(121px, 9999px, 6px, 0);
  }

  20% {
     clip: rect(181px, 9999px, 99px, 0);
  }

  25% {
     clip: rect(154px, 9999px, 133px, 0);
  }

  30% {
     clip: rect(134px, 9999px, 169px, 0);
  }

  35% {
     clip: rect(26px, 9999px, 187px, 0);
  }

  40% {
     clip: rect(147px, 9999px, 137px, 0);
  }

  45% {
     clip: rect(31px, 9999px, 52px, 0);
  }

  50% {
     clip: rect(191px, 9999px, 109px, 0);
  }

  55% {
     clip: rect(74px, 9999px, 54px, 0);
  }

  60% {
     clip: rect(145px, 9999px, 75px, 0);
  }

  65% {
     clip: rect(153px, 9999px, 198px, 0);
  }

  70% {
     clip: rect(99px, 9999px, 136px, 0);
  }

  75% {
     clip: rect(118px, 9999px, 192px, 0);
  }

  80% {
     clip: rect(1px, 9999px, 83px, 0);
  }

  85% {
     clip: rect(145px, 9999px, 98px, 0);
  }

  90% {
     clip: rect(121px, 9999px, 154px, 0);
  }

  95% {
     clip: rect(156px, 9999px, 44px, 0);
  }

  100% {
     clip: rect(67px, 9999px, 122px, 0);
  }
}


.circle-grow {
  width: 200px;
  height: 200px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: 5rem;
  transition: transform 0.1s ease-in-out;
  color: #20C20E;
  display: flex;
  align-items: center;
}

.circle-grow-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

@keyframes grow {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(200);
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media screen and (min-width: 1024px){
  .cnt-main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
  }

  .circles {
    width: 15px;
    height: 15px;
    border: solid .18rem black;

  }
}

